# C extensions
*.so

# Caffe
*.caffemodel
*.tlog*
*.caffemodel
*.solverstate
*.binaryproto

# Temporary files
*.log
.idea/
*.iml

# Sphinx documentation
docs/_build/

# PyBuilder
target/
build/
*.autosave

# IDE
.idea
