# C extensions
*.so

# Caffe
*.caffemodel
*.tlog*
*.caffemodel
*.solverstate
*.binaryproto
**/experiments

# Temporary files
*.log
.idea/
*.iml

# Sphinx documentation
docs/_build/

# PyBuilder
target/
build*/
*.autosave

# IDE
.idea

# Web Server
node_modules
dist/
videos/*.avi
videos/*.mkv
videos/*.mpeg
videos/*.mpg
videos/*.mp4
temp
files.json
flask_extensions.pyc

*.pyc
